@import url("./styles/base.css");
@import url("./styles/utility.css");
@import url("./styles/navbar.css");
@import url("./styles/forms.css");
@import url("./styles/adminDashboard.css");
@import url("./styles/donorDashboard.css");
@import url("./styles/table.css");
@import url("./styles/profile.css");
@import url("./styles/itemForm.css");
@import url("./styles/itemCards.css");
@import url("./styles/item.css");
@import url("./styles/needyDashboard.css");
@import url("./styles/requestedItems.css");
@import url("./styles/requestList.css");
@import url("./styles/showDeliveryCodeModal.css");
@import url("./styles/home.css");
@import url("./styles/footer.css");

:root {
    box-sizing: border-box;
}

::selection {
    color: rgb(0, 85, 67);
    background: rgba(255, 255, 0, 0.644);
}


body {
    /* font-family: 'Maven Pro', sans-serif !important; */
    font-family: 'Poppins', sans-serif !important;
    /* font-family: 'Playfair Display', serif !important; */
    /* border: solid; */
    background-color: var(--bg-body) !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-top: var(--navbar-ht);
}

.top-wrapper {
    min-height: 110dvh;
    position: relative;
    padding-bottom: 20rem;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 5% !important;
    }
}